@model EmployeeSchedule.MVC.Models.Create.ScheduleCreate

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Schedule</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Name) @Html.DisplayFor(model => model.Employee.Surname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShiftWork)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShiftWork)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CheckInTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CheckInTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Late)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Late)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notification)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notification)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
    <a>@Html.ActionLink("Generate", "GeneratePdf", new { id = Model.Employee.Id })</a>
</div>
