@model IEnumerable<EmployeeSchedule.MVC.Models.ViewModel.ScheduleViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="row">
    <div class="col-sm-3">
        <input type="text" class="form-control" id="scheduleSearchText" />
    </div>
    <div class="col-sm-3">
        <select id="scheduleEmployeeSearch" asp-items="@ViewBag.EmployeeSelectList" class="form-control">
        </select>
    </div>
    <div class="col-sm-3">
        <input type="date" class="form-control" id="scheduleSearchDate" />
    </div>
    <div class="col-sm-2">
        <input id="scheduleSearch" width="100" type="button" value="Search" class="btn-outline-primary" />
    </div>
    <div class="col-sm-2">
        <input width="100" type="button" value="Reset" class="btn-outline-primary" />
        @*<a width="100" asp-controller="Schedule" asp-action="Index" formmethod="get"  t="Reset" class="btn btn-sm btn-outline-primary" />*@
    </div>
</div>
@if (ViewBag.NumberOfRequests != null && ViewBag.NumberOfRequests > 0)
{
    <div>
        <p>Trenutno imate @ViewBag.NumberOfRequests zahteva za kreiranjem rasporeda </p>
    </div>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShiftWork)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckInTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Late)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notification)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="scheduleResultInsert">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Employee.Name) @Html.DisplayFor(model => item.Employee.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShiftWork)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckInTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Late)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notification)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (ViewBag.CreateScheduleEnabled != null && ViewBag.CreateScheduleEnabled)
{
    <a asp-action="Create">Create schedule</a>
}
